/* @font-face {
    font-family: "Mulish-Black";
    src: url(/static/fontsfam/Mulish-Italic-VariableFont_wght.ttf);
  }
@font-face {
    font-family: "Mulish";
    src: url(/static/fontsfam/Mulish-Medium.ttf);
  } */