
{% extends './main.html' %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'cssfiles/window.css' %}">
<div class = "first_div_window">
  <label class = "title_window" style="font-weight: 500;">
    Направления
  </label>
</div>

<div class = "bloks_window">
  {% for i in courses %}
<div class = "button_blocks_window" onclick="window.location.href='/courses/{{i.id}}'">
    <div class = "button_block_window">
    
      <img class="iconinbutton1" style = "object-fit: cover; width: 50px; height: 50px; border-radius: 8px;" src="{{i.icon.url}}" >
      <label class = "textinbutton">{{i.name}}</label>
    </div>
      <div style="margin: auto;"> <i class="fa-light fa-arrow-up-right iconinbutton"></i></div>
  </div>
{% endfor %}
  

  
</div>

<div>

</div>
<div>

</div>
{% endblock %}
