{% extends './main.html' %}
{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'cssfiles/window.css' %}">
<div class = "first_div_window">
  <label class = "title_window">
    Самые популярные
    <label style = "color: rgba(120, 48, 165, 1)">
      Направления
    </label>
  </label>
  <button class="button-large-window" onclick="window.location.href='/directions/'">Посмотреть все</button>
</div>
<div class = "bloks_window">
  {% for i in direction %}
  <div class = "button_blocks_window" onclick="window.location.href='/courses/{{i.id}}'">
      <div class = "button_block_window">
        <img class="iconinbutton1" style = "object-fit: cover; width: 50px; height: 50px; border-radius: 8px;" src="{{i.icon.url}}" >
        <label class = "textinbutton">{{i.name}}</label>
      </div>
        <div style="margin: auto;"> <i class="fa-light fa-arrow-up-right iconinbutton"></i></div>
    </div>
  {% endfor %}
  

  
</div>

<div class = "first_div_window" style = "margin-top: 30px;">
  <label class = "title_window">
    Самые популярные
    <label style = "color: rgba(120, 48, 165, 1)">
    Курсы
    </label>
  </label>
  <button class="button-large-window" onclick="window.location.href='/allcourses/'">Посмотреть все</button>
</div>
<div class = "descript">Чаще всего выбирают:</div>

<div class = "boxes">
  {% for i in kursy %}
  {%if i.reiting >= 90 %}
  <div class = "boxofdirection">
      <div>
          <img src="{{ i.photo.url }}" class = "imgdirection" alt="">
      </div>
      <div class = "titleboxes">
          <label>{{i.name}} ({{i.napravlenii.name}})</label>
          
      </div>
      <br>
      <div class = "propertiesofbox" >
          <div style="display: flex;"><i class="fa-light fa-book-bookmark"></i>
              <a >Урок:</a><a>{{i.reiting}}</a></div>
          <div style="display: flex;"><i class="fa-light fa-book-bookmark"></i>
              <a>Стоимость:</a><a>{{i.price}}</a></div>
          <div style="display: flex;"><i class="fa-light fa-book-bookmark"></i>
              <a>{{i.level}}</a></div>
      </div>
      
      <div class = "buttons_courses">
          <div class = "centr"><a href="{{i.info_url}}">Ознакомиться</a></div>
          <div >  <button class="directbutton" onclick="openModal('{{ i.id }}')">Оставить заявку</button></div>
      </div>
  </div>
  {%endif%}
  {% endfor %}

  
</div>

<div id="myModal2" class="modal2">
  <div class="modal-content2">
      <span class="close2">&times;</span>
      <form method="post" id="form" >
      <div class = "conttee"> 
          
          {% csrf_token %}
          
          <div style = "text-align: center;">
          <label class = "zapis_label">Записаться или получить </br> бесплатную консультацию</label>
          </div>
          <input style="display: none;" readonly name = "displayCourseId" id="displayCourseId" value=""/>
          <div class = "inptConttee">
              <div  class = "inptConttee2">
                  <label class = "label_input">Имя</label>
                  <input class = "inp" name="first_name" value="{{user.first_name}}" placeholder="Имя" />
              </div>
              <div class = "inptConttee2">
                  <label class = "label_input">Электронная почта</label>
                  <input class = "inp"  name="email" value = "{{user.email}}" placeholder="Электронная почта" />
              </div>
              <div class = "inptConttee2">
                  <label class = "label_input"   >Телефон</label>
                  <input class = "inp" name="number" value = "{{user.user_info.number}}" placeholder="Телефон" />
              </div>
              <div style="text-align: center; margin-top: 5%"><button class="directbutton" id = ""> Записаться на курс </button></div>
          </div>
        
      </div>
  </form>

  </div>
</div>
<script>
 
</script>


<script src="{% static 'scripts/submitapp.js'%}"></script>
{% endblock %}
